*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}


footer p{
    position: absolute;
    bottom: 0;
}

body{
    background-color: #3e0941d6;
}

.clear{
    clear: both;
}

.container{    
    max-width: 1100px;
}

.vabar{
    width: 100%;
    background-color: rgba(161, 126, 171, 0.655);
    padding: 15px 150px;
    box-shadow: 15px 10px 10px 2px rgba(0, 0, 0, 0.619);
    border-radius: 5px;
    position: fixed;
    z-index: 1;
}

.navi{
    float: left;
    cursor: pointer;
}

.navi h1{
    margin-top: 10px;
    font-size: 29px;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.meni{
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
    background-image: url("../image/menu2.jpg");
    background-position: center;
    background-size: 100% 100%;
    border-radius: 5px;
    display: none;
}


.vent{
    float: right;
    margin-top: 15px;
}

.vent ul li{
    list-style-type: none;
    float: left;
    padding: 0 30px;
}

.vent ul li a{
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 23px;
}



section.sec1{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 12%;
}

section.sec1 > h1{
    margin-top: 33px;
    font-size: 28px;
    font-style: italic;
    color: black;
}

.seg{
    width: 100%;
    display: inline-block;
    padding-bottom: 40px;
}

.send{
    display: inline-block;
    width: 100%;
    padding: 0 2%;
    
}


.dert1{
    width: 100%;
    max-width: 435px;
    border-radius: 10px;
    height: 570px;
    background-image: url('../image/IMG-20221230-WA0005.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
    display: inline-block;
}

.dert2{
    width: 100%;
    height: auto;
    max-width: 470px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 7px;
    background-color: rgba(161, 126, 171, 0.655);
    box-shadow: 15px 10px 30px 2px rgba(0, 0, 0, 0.619);
    padding:30px 1%;
}

.dert2 > p{
    line-height: 44px;
    color: white;
    display: inline-block;
    font-size: 20px;
}

.dert3{
    width: 100%;
    height: auto;
    max-width: 470px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 7px;
    background-color: rgba(161, 126, 171, 0.655);
    box-shadow: 15px 10px 30px 2px rgba(0, 0, 0, 0.619);
    padding:30px 1%;
}

.dert3 > p{
    line-height: 44px;
    color: white;
    display: inline-block;
    font-size: 20px;
}

.dert4{
    width: 100%;
    height: auto;
    max-width: 470px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 7px;
    background-color: rgba(161, 126, 171, 0.655);
    box-shadow: 15px 10px 30px 2px rgba(0, 0, 0, 0.619);
    padding:30px 1%;
}

.dert4 > p{
    line-height: 44px;
    color: white;
    display: inline-block;
    font-size: 20px;
}

.dert5{
    width: 100%;
    height: auto;
    max-width: 470px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 7px;
    background-color: rgba(161, 126, 171, 0.655);
    box-shadow: 15px 10px 30px 2px rgba(0, 0, 0, 0.619);
    padding:30px 1%;
}

.dert5 > p{
    line-height: 44px;
    color: white;
    display: inline-block;
    font-size: 20px;
}



/*stilo do sobre*/

section.sobre{
    text-align: center;
    position: relative;
    padding: 30px 1%;
    left: 50%;
    top: 10%;
    transform: translateX( -50%);
}



.sint{
    width: 30%;
    border-radius: 5px;
    display: inline-block;
    height: 550px;
    box-shadow: 15px 10px 30px 2px rgba(0, 0, 0, 0.619);
}

.sofri{
    display: inline-block;
    font-style: italic;
    line-height: 50px;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    width: 30%;
    margin-top: 25px;
    box-shadow: 15px 10px 30px 2px rgba(0, 0, 0, 0.619);
    padding: 10px 5px;
}

.alt{
    width: 100%;
    background-image: url('../image/Day.jpg');
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
}

/*stilo do contato*/

section.boy{
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translateX(-50%);
}

.xvid{
    width: 70px;
    height: 70px;
    background-image: url('../image/whtas.jpg');
    background-position: center;
    box-shadow: 15px 10px 30px 2px rgba(0, 0, 0, 0.619);
    background-size: 100% 100%;
    border-radius: 5px;
    margin-top: 40px;
}

.xvid1{
    width: 70px;
    box-shadow: 15px 10px 30px 2px rgba(0, 0, 0, 0.619);
    height: 70px;
    border-radius: 5px;
    margin-top: 40px;
    background-image: url('../image/face.jpg');
    background-position: center;
    background-size: 100% 100%;
}

.xvid2{
    width: 70px;
    background-image: url('../image/insta.jpg');
    background-position: center;
    background-size: 100% 100%;
    height: 70px;
    box-shadow: 15px 10px 30px 2px rgba(0, 0, 0, 0.619);
    border-radius: 5px;
    margin-top: 40px;
}

.xvid > a{
    margin-left: 80px;
    margin-top: 20px;
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.xvid1 > a{
    margin-left: 80px;
    margin-top: 20px;
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.xvid2 > a{
    margin-left: 80px;
    margin-top: 20px;
    display: inline-block;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: white;
}





/*stilo do slick */

.slick-dotted ul{
    list-style-type: none;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.slick-dotted li{
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus{
    outline: 0;
}

.slick-dotted li button{
    width: 20px;
    height: 20px;
    border-radius: 8px;
    color: #d8d8d8;
    border-width: 0;
    background: #d8d8d8;
    opacity: 1;
    cursor: pointer;
    border: 1px solid white;
}

li.slick-active button{
    background: #688293;
    color: #688293;
}


.slick-slide:focus{
    outline: none;
}


/*responsivo */


@media screen and (max-width:834px){

    section.sec1 > h1{
        margin-top: 50px;
    }
    
    .dert2{
        padding: 8px 2%;
    }

    .dert3{
        padding: 8px 2%;
    }

    .dert4{
        padding: 8px 2%;
    }

    .dert5{
        padding: 8px 2%;
    }
   

    .vent{
        float: none;
        margin: 0;
        background-color: white;
    }

    .vent ul li{
        list-style-type: none;
        float: none;
        margin-top: 18px;
    }
    
    .vent ul li a{
        border-bottom: 1px solid white;
        width: 100%;
    }

    .vent ul{
        width: 100%;
        background-color: #3e0941ed;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 20px;
        display: none;
    }
    
    .meni{
        display: block;
        margin-top: 5px;
    }

    .vabar{
        padding: 15px 30px;
        background-color: rgba(110, 88, 117, 0.941);
    }

    


    /*responsivo do sobre*/

    .sint{
        width: 100%;
    }
    
    .sofri{
        width: 100%;
        padding: 0 5px;
    }

     /*responsivo do contato*/

     section.boy{
        position: absolute;
        top: 30%;
        left: 28%;
        transform: translateX(-50%);
    }

    /*reponsivo do slick*/

    

      

}


@media screen and (max-width: 320px){
    
    
}


@media screen and (max-width: 1920px){
    .sint{
        margin-top: 47px;
    }

}


